<div>
  <button class="mi-boton" (click)="mostrarTabla()">
    Mostrar/Ocultar tabla de Cuentas bancarias
  </button>
  <table
    *ngIf="tablaVisible"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <!--- Column Definitions -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Numero</th>
      <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
    </ng-container>

    <ng-container matColumnDef="cvv">
      <th mat-header-cell *matHeaderCellDef>CVV</th>
      <td mat-cell *matCellDef="let element">{{ element.cvv }}</td>
    </ng-container>

    <ng-container matColumnDef="vencimiento">
      <th mat-header-cell *matHeaderCellDef>Vencimiento</th>
      <td mat-cell *matCellDef="let element">{{ element.vencimiento }}</td>
    </ng-container>
    
    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
      button mat-raised-button color="warn" [routerLink]="['edicion',element.id]">Actualizar</button>
    </ng-container>

    <!--- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <button
    style="text-align: right"
    mat-raised-button
    color="primary"
    routerLink="/cuentabancarias/nuevo"
  >
    Nuevo
  </button>
</div>
