mat-form-field {
  width: 95%;
  }

div button{
  border: none;
  font-size: large;
  border-radius: 2rem;
  margin: 0 1rem;
  padding: .5rem;
  cursor: pointer;
}
.btA{
  background-color: #82ff49 ;
}
.btA:hover{
  background-color: #2ec106;
}
.btC{
 background-color: #ef6363;
}
.btC:hover{
  background-color: #ef6100;
}
